template(name='end')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meteor Day
    +Surface size='[undefined, undefined]' target='content'
      h1 Thank you for your time.
        br
        | Any questions?
      p Slides are available here:
        br
        a(href='http://meteorday.meteordose.com') meteorday.meteordose.com
    +Surface size='[undefined, 70]' target='footer'
      p
        small
          // a(href='http://twitter.com/rizafahmi22') @rizafahmi22
          a(href='http://ctt.ec/coc4r') Share this slide
