template(name='slide01')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 We're Going To Talk About:
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      ul
        li What 
          a(href='http://meteor.com') Meteor
          | actually is
        li Live code a simple Meteor app
        li Example apps
    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
