template(name='slide05')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meteor is platform
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.left It's complete platform to make modern apps, not just a library to solve one problem.
      ul
        li Livequery – watch DB queries
        li DDP – send data back and forth to the client
        li Minimongo – store data and do DB queries on the client
        li Tracker – the thing that enables reactive updates
        li Blaze – rendering the view based on Tracker
      p.left Read about all of this on the Projects page
        a(href="https://meteor.com/projects") meteor.com/projects

    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
