template(name='slide08')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Workpop – Built on Meteor
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center 
        img(src="http://pandodaily.files.wordpress.com/2014/09/screen-shot-2014-09-16-at-12-28-02-pm.jpg?w=1024&h=596" width="450")

      p.center Raised $7.9 million Series A led by Trinity Ventures
      p.center Trinity Ventures funding announcement: "most rapid prototyping, iteration and development we've ever seen from an early stage company"


    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/coc4r') Share this slide
