template(name='slide09')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Businesses built on Meteor
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center
        img(src="build.png" width="650")



    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/coc4r') Share this slide
