template(name='slide10')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Businesses built on Meteor
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center
        img(src="maps.png" width="550")

      p.center
        ul
          li Over 150 meetup groups around the world – meteor.meetup.com
          li Over 2000 community-authored packages - atmospherejs.com
          li Discover Meteor has made over $300,000 in book sales (as of Sep 2014)
          li #11 on GitHub (just passed Backbone, will soon pass Rails)


    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
