template(name='slide07')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Example apps
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center Meteor ships with several example apps
      ul
        li Todos, a full-featured todo list app
          +prism language='bash' class='line-numbers'
            | meteor create --example todos
        li Local Market, a mobile social engagement app
          +prism language='bash' class='line-numbers'
            | meteor create --example localmarket

    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/coc4r') Share this slide
