template(name='slide03')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 How Modern Apps Look and Feel
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      <iframe width="560" height="315" src="//www.youtube.com/embed/QzhtQzAX_6k" frameborder="0" allowfullscreen></iframe>

      p.center <strong>Focus on your app’s unique features</strong> instead of wrangling network code, websocket, etc.
      p.center <strong>Meteor’s Goal</strong>: Facebook-quality apps without Facebook’s money

    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/coc4r') Share this slide
