template(name='slide02')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 What Is Meteor
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center Open-source platform for 
        strong building web and mobile apps in JavaScript
      p.center Built to power the <strong>next generation of apps</strong>: Rich user interfaces, Collaborative multi-user applications, Cross platform apps, 
        strong Fast development

    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
