template(name='slide11')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Learning resources
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      h3 meteor.com/learn

      p.center
        ul
          li Official Meteor tutorial at meteor.com/install
          li Discover Meteor (get first 8 chapters for free at book.discovermeteor.com/starter
          li Stack Overflow, tagged Meteor
          li Docs - docs.meteor.com


    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
