template(name='slide12')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Now it's your turn!
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      h3 Let's install Meteor


    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/coc4r') Share this slide
