template(name='slide04')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Old tools don’t work for modern apps
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      p.center Modern apps serve data, not html
      p.center Modern apps <strong>can’t have a refresh button</strong>
      img(src="broken-f5-button.jpg" width="350")
    +Surface size='[undefined, 70]' target='footer'
      p
        small
          a(href='http://ctt.ec/8i10P') Share this slide
