template(name='title')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h1 Meteor Day
    +Surface size='[undefined, undefined]' target='content'
      h2 Introduction To Meteor
      img.gravatar(src='/22.png')
      p Riza Fahmi -
         a(href="https://twitter.com/rizafahmi22") @rizafahmi22
      small CTO, Developer, Author
